@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap);
body {
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 20px !important;
    font-size: 0.9rem !important;
    background: rgb(255, 255, 255);
    border: 20px solid #CCE4FC;
    margin-top: 0px !important;
    padding-top: 100px;
}

header,
h1 {
    color: #8E44AD !important;
}

h1 {
    font-size: 48px !important;
}

strong {
    font-weight: 700 !important;
    color: #E67E22 !important;
}

h1,
h2,
h3,
.about-index {
    font-family: Merriweather !important;
}

.about-index {
    font-weight: 300 !important;
    font-size: 20px !important;
    line-height: 36px !important;
    margin-top: -30px !important;
}

.repo {
    background-color: #F5EFFF;
    -webkit-box-shadow: -2px 2px 0px black;
    -moz-box-shadow: -2px 2px 0px black;
    box-shadow: -2px 2px 0px black;
}


/* Test */